#social-nav{

	ul{
		border-top:1px solid $brand-5;
		list-style:none inside none;
		margin:0;
	
		li{
			border-bottom:1px solid $brand-5;

			a{
				color:$grey-1;
				display: block;
				padding:$space-xs $space-sm;
				transition:color $transition-md;
				text-decoration: none;

				.icon{
					fill:$grey-1;
					margin-right:$space-xs;
					margin-bottom:-$space-xs/2;
					transition:background $transition-md;
					width:1.25rem;
				}

				&:hover{
					background:$brand-6;
					color:$grey-1;
				}
				
			}
			
		}

	}
	
}

#content .layout__secondary #social-nav h2{
	color:$grey-1;
}