#work-detail{
	@media (min-width: $screen-lg){
		//margin:0 1.5rem 0 -1.5rem;
	}

	h1{
		display:inline-block;
	}

	.view-site{
		border-radius:$radius-sm;
		color:$grey-1;
		margin-top:-$space-xxxs*1.5;
		margin-bottom:$line-md * $size-md;
		text-decoration: none;

		&:hover{
			background:$brand-8;
			color:$grey-1;
		}

		@media (min-width: $screen-xs){
			float:right;			
			width:auto;
		}
	}

	.meta{
		background:$brand-7;
		margin-bottom:$line-md * $size-md;
		padding:1rem;

		span{
			color:$grey-1;
			display:block;
			font-family:$font-copy;
			font-size:$size-md;
			line-height:$line-md;
		}

		@media (min-width: $screen-md){
			display:table;		
			width:100%;

			span{				
				display:table-cell;				
				width:33.33%;
			}
			span:nth-child(2){
				text-align: center;
			}
			span:last-child{
				text-align: right;
			}

		}

		a{
			color:$grey-1;
		}

	}
}