#work-detail{
	@media (min-width: $screen-lg){
		//margin:0 1.5rem 0 -1.5rem;
	}

	h1{
		display:inline-block;
	}

	.view-site{
		margin-top:-$space-xxxs*1.5;
		margin-bottom:$line-md * $size-md;

		@media (min-width: $screen-xs){
			float:right;			
			width:auto;
		}
	}

	.meta{
		@include overlay;
		margin-bottom:$line-md * $size-md;

		span{
			color:$copy-colour;
			display:block;
			font-family:$font-copy;
			font-size:$size-md;
			line-height:$line-md;
		}

		@media (min-width: $screen-md){
			display:table;		
			width:100%;

			span{				
				display:table-cell;				
				width:33.33%;
			}
			span:nth-child(2){
				text-align: center;
			}
			span:last-child{
				text-align: right;
			}

		}
	}
}