header.primary{
	background:$brand-7;
	overflow:visible;
	padding:$space-xs $space-md;
	position:fixed;
	width:100%;
	z-index: 5;

	@media (min-width: $screen-md){
		height:100vh;
		padding:$space-lg $space-md;
		width:$col3;
	}
	
	@media (min-width: $screen-lg){
		padding:$space-lg;
		width:$col2;
	}
	
	.logo{
		display:block;
		float:left;
		padding:$space-xxs 0;
		width:8rem;

		@media (min-width: $screen-md){
			float:none;
			margin:0 0 $space-xs;
			padding:$space-xxs 0;
			padding:$space-xxs $space-md 0;
			width:100%;
		}

		@media (min-width: $screen-lg){
			padding:$space-sm $space-lg 0;
		}

	}

}