nav.primary{
	float:right;

	@media (min-width: $screen-md){
		float:none;
	}

	#mobile-nav{
		background:$brand-4;
		display:block;
		font-size:$size-lg;
		line-height:$line-sm;
		margin:0.3rem 0 0;
		padding:$space-xxs $space-sm;
		width:auto;

		@media (min-width: $screen-md){
			display:none;
		}

		&:hover{
			background:$brand-3;
		}

	}

	ul{
		background: $brand-8;
		height: 100%;
		right: -200px;
		position: fixed;
		top: 64px;
		transform: translateZ(0) translateX(0);
		transition:transform $transition-md;
		width:200px;

		@media (min-width: $screen-md){
			background: none;
			border-top:1px solid $brand-5;
			position: relative;
			right:auto;
			top:$space-lg;
			transform:none;
			width:100%;
		}

		//Display the mobile nav.
		&.active{
			transform: translateZ(0) translateX(-200px); 					
		}

		li{
			display:block;
			border-bottom:1px solid $brand-6;

			@media (min-width: $screen-md){
				border-bottom:1px solid $brand-5;
			}
			
			a{
				background:transparent;
				color:$grey-1;
				display:block;
				font-family:$font-heading;
				padding:$space-md;
				text-decoration:none;

				@media (min-width: $screen-md){
					padding:$space-xs $space-sm;
					transition:background $transition-md, color $transition-md;
				}
				
				&:hover{
					background-color:$brand-6;
					color:$grey-1;
				}

				&.active,
				&:active,
				&:focus{
					background:$brand-9;
					color:$grey-1;

					@media (min-width: $screen-md){
						background:$brand-8;
					}
				}
			}

			&.active a{
				background:$brand-6;
				color:$grey-1;

				@media (min-width: $screen-md){
					color:$link-color-hover;
				}
			}

		}
	}
}

#nav-overlay{
	display:none;
	position: fixed;
	top:0;
	height:100%;
	width:100%;
	@include overlay;
}