/* ---- Sitewide Variables ---- */

/* Colours */

//Grey
$grey: #dedede; 
$grey-25: darken($grey, 100%);
$grey-24: darken($grey, 95%);
$grey-23: darken($grey, 90%);
$grey-22: darken($grey, 85%);
$grey-21: darken($grey, 80%);
$grey-20: darken($grey, 75%);
$grey-19: darken($grey, 70%);
$grey-18: darken($grey, 65%);
$grey-17: darken($grey, 60%);
$grey-16: darken($grey, 55%);
$grey-15: darken($grey, 50%);
$grey-14: darken($grey, 45%);
$grey-13: darken($grey, 40%);
$grey-12: darken($grey, 35%);
$grey-11: darken($grey, 30%);
$grey-10: darken($grey, 25%);
$grey-9: darken($grey, 20%);
$grey-8: darken($grey, 15%);
$grey-7: darken($grey, 10%);
$grey-6: darken($grey, 5%);
$grey-5: $grey;
$grey-4: lighten($grey, 5%);
$grey-3: lighten($grey, 10%);
$grey-2: lighten($grey, 15%);
$grey-1: lighten($grey, 20%);

//Blue
$blue:#1b4164;
$blue-10:darken($blue, 25%);
$blue-9:darken($blue, 20%);
$blue-8:darken($blue, 15%);
$blue-7:darken($blue, 10%);
$blue-6:darken($blue, 5%);
$blue-5:$blue;
$blue-4:lighten($blue, 5%);
$blue-3:lighten($blue, 10%);
$blue-2:lighten($blue, 15%);
$blue-1:lighten($blue, 20%);

//Brand
$brand-9:$blue-9;
$brand-8:$blue-8;
$brand-7:$blue-7;
$brand-6:$blue-6;
$brand-5:$blue-5;
$brand-4:$blue-4;
$brand-3:$blue-3;
$brand-2:$blue-2;
$brand-1:$blue-1;



//Loader
$loader-3:$brand-4;
$loader-4:$brand-5;
$loader-5:$brand-6;
$loader-6:$brand-7;
$loader-7:$brand-8;

//Overlay
$overlay-md: rgba(0,0,0,0.78);
$overlay-sm: rgba(0,0,0,0.6);

// Breakpoints
$screen-xl:1400px; //Extra wide
$screen-lg:1200px; //Desktop
$screen-md:960px; //Landscape Tablet
$screen-sm:768px; //Portrait Tablet
$screen-xs:640px; //Landscape Phone
$screen-xxs:480px; //Portrait Phone

// Transitions
$transition-xl: 50ms ease-out;
$transition-lg: 100ms ease-out;
$transition-md: 200ms ease-out;
$transition-sm: 300ms ease-out;
$transition-xs: 400ms ease-out;

//Box-shadow
$shadow-md: 0 2px 2px 0 rgba(0,0,0,0.2);

//Tables
$table-border: $grey-6;
$theading-background: $brand-7;
$table-row-altnerate: $grey-4;
$table-row-hover: $grey-3;


/* Layout */

//Widths
$col12:100%;
$col11:91.6666%;
$col10:83.3333%;
$col9:75%;
$col8:66.6666%;
$col7:58.3333%;
$col6:50%;
$col5:41.6666%;
$col4:33.3333%;
$col3:25%;
$col2:16.6666%;
$col1:8.3333%;

// Spacing
$space-xxl: 3rem; //48px
$space-xl: 2rem; //32px
$space-lg: 1.5rem; //24px
$space-md: 1rem; //16px
$space-sm: 0.75rem; //12px
$space-xs: 0.625rem; //10px
$space-xxs: 0.5rem; //8px
$space-xxxs: 0.25rem; //4px
$space-xxxxs: 0.125rem; //2px

//Border
$border-md:0.25rem solid; //4px
$border-sm:0.125rem solid; //2px
$border-xs:1px solid; //1px

//Border Radius
$radius-lg: .75rem;
$radius-md: .5rem;
$radius-sm: .25rem;


//Box Shadow


/* Typography */

//Colours
$heading-colour-lg:$brand-6;
$heading-colour-md:$brand-5;
$heading-colour-sm:$brand-7;
$copy-colour:$grey-22;
$link-color:$brand-3;
$link-color-hover:$brand-1;

//Web Fonts
/* latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter-Regular'), url(../fonts/Bitter.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

// Font Families
$font-heading: 'Bitter', georgia, serif;
$font-copy: 'Open Sans', helvetica, calibri, sans-serif;

// Font Sizing
$size-xxl: 2rem; //32px
$size-xl: 1.5rem; //24px
$size-lg: 1.125rem; //18px
$size-md: 1rem; //16px
$size-sm: 0.875rem; //14px
$size-xs: 0.75rem; //12px
$size-xxs: 0.625rem; //10px 

// Font Weights
$weight-copy:500;
$weight-heading:700;
$weight-link:700;

// Line-Height
$line-lg:1.75;
$line-md:1.4;
$line-sm:1;
$line-xs:0.5;

//Icon
$icon-md: 1.75rem;