//Mixins
@import 'mixins/overlay';

//Reset
@import 'reset';

//Site Wide
@import 'var';
@import 'default';
@import 'typography';
@import 'layout';
@import 'header';
@import 'primary-nav';
@import 'footer';

//Components
@import 'components/loader';
@import 'components/buttons';
@import 'components/form';
@import 'components/table';
@import 'components/carousel';
@import 'components/filter';

//Modules
@import 'modules/work-list/work-list';
@import 'modules/work-detail/work-detail';
@import 'modules/social-nav/social-nav';
@import 'modules/skillset-table/skillset-table';



////DEV: Show which breakpoint is active.
footer:after{
	color:red;	
	content:"Too small dog.";
	display:block;
	text-transform: uppercase;
	
	@media (min-width:320px){
		color:#fff;
		content:"BP: xs";
	}
	@media (min-width:$screen-xxs){
		color:#fff;
		content:"BP: xs";
	}
	@media (min-width: $screen-xs){
		content:"BP: sm";
		text-align: center;
	}
	@media (min-width: $screen-sm){
		content:"BP: md";
		text-align: center;
	}
	@media (min-width: $screen-md){
		content:"BP: lg";
	}
	@media (min-width: $screen-lg){
		content:"BP: xl";
	}
	@media (min-width: $screen-xl){
		content:"BP: xxl";
	}
}