#content ul.blocks{
	list-style: none;
	margin:0;

	li{
		background:$brand-7;
		box-shadow:$shadow-md;
		color:$grey-4;
		display: block;
		margin-bottom:2%;				
		padding:$space-md;
		text-align:center;			
	
		@media (min-width: $screen-xs/1.5){
			float:left;
			margin-bottom:1.5%;
			margin-left:1.5%;
			min-height:4.25rem;
			width:49.25%;

			&:nth-child(2n + 1){
				margin-left:0;
			}
		}

		@media (min-width: $screen-sm){
			margin-bottom:1%;
			margin-left:1%;
			width:32.666667%;

			&:nth-child(2n + 1){
				margin-left:1%;
			}

			&:nth-child(3n + 1){
				margin-left:0;
			}
		}

		@media (min-width: $screen-xl){
			margin-bottom:.85%;
			width:23.5%;

			&:nth-child(3n + 1){
				margin-left:1%;
			}

			&:nth-child(4n + 1){
				margin-left:0;
			}			
		}

		@media (min-width: $screen-xl*1.15){
			min-height:0;
		}

	}

}