input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.btn{
	background:$brand-7;
	border:none;
	border-radius:$radius-sm;
	box-shadow:$shadow-md;
	color:$grey-1;
	cursor:pointer;
	display:block;
	font:$size-md $font-copy;
	line-height:$line-sm;
	margin-bottom:$space-xxs;
	padding:$space-sm $space-md;
	text-align:center;
	transition:background $transition-lg;
	width:100%;

	-webkit-appearance: none;
	border-radius: 0;

	&:hover,
	//&:focus,
	&:active{
		background:$brand-8;
		color:$grey-1;
	}

	&.btn--lg{
		font:$size-lg $font-copy;
		padding:$space-sm $space-xl;
	}

	&.btn--sm{
		font:$size-sm $font-copy;
		padding:$space-xxs $space-lg;
	}
}

#content a:hover button{
	background:$brand-7;
	color:$grey-1;
}

input[type="reset"]{
	background:$brand-8;
}