.carousel{
	margin:0 (-$space-md) $space-xl;

	@media (min-width: $screen-sm){
		margin:0 0 $space-xl;
	}

	figure{
		width:100%;
		
		@media (min-width: 700px){
			border:$border-xs $grey-5;
			margin-right:3%;
			transition: border-color $transition-md;
			width:48.5%;

			&:hover{
				border-color:$brand-1;
			}
		}

		@media (min-width: 1800px){
			margin-right:2%;
			width:32%;
		}

		a{
			text-decoration: none;
		}

		img{
			display:block;
			margin: 0 auto;
			max-width:100%;

			height:auto;
			width:100%;
		}

		figcaption{
			background:$grey-4;
			padding:$space-md;
		}

	}

	.flickity-prev-next-button{
		background:$brand-6;
		margin-top:-30px;

		&:hover,
		&:active,
		&:focus{
			background:$brand-7;
			opacity: 1;
		}

		path{
			fill: #fff;
		}
	}

	ol.flickity-page-dots{
		bottom:-$space-sm;

		.dot{
			background:$brand-6;
    		height: 0.9rem;
			width: 0.9rem;
			transition:opacity $transition-md, background $transition-md;

			&:not(.is-selected):hover{
				background:$brand-6;
				opacity: .5
			}
		}
	}

	//Stop the pre-trigger flicker.
	&:not(.flickity-enabled) .carousel__slide:first-child{
		margin-bottom:3.375rem!important;
	}
	&:not(.flickity-enabled) .carousel__slide:not(:first-child){
		display:none;
	}
	
}
