.carousel{
	margin:0 (-$space-md) $space-xl;

	@media (min-width: $screen-md){
		margin:0 0 $space-xl;
	}

	figure{
		width:100%;

		img{
			display:block;
			margin: 0 auto;
			max-width:100%;

			height:auto;
			width:100%;
		}

		figcaption{
			background:$grey-9;
			padding:$space-md;
		}

	}

	.flickity-prev-next-button{
		background:$green-6;

		&:hover,
		&:active,
		&:focus{
			background:$green-7;
			opacity: 1;
		}

		path{
			fill: #fff;
		}
	}

	ol.flickity-page-dots{
		bottom:-$space-xl;

		.dot{
			background:$grey-3;
    		height: 0.7rem;
			width: 0.7rem;
			transition:opacity $transition-md, background $transition-md;

			&:not(.is-selected):hover{
				background:$green-4;
				opacity: .5
			}
		}
	}

	//Stop the pre-trigger flicker.
	&:not(.flickity-enabled) .carousel__slide:first-child{
		margin-bottom:3.375rem!important;
	}
	&:not(.flickity-enabled) .carousel__slide:not(:first-child){
		display:none;
	}
	
}
