#content ul.filter{
	border-top:1px solid $grey-6;
	list-style: none;
	margin-left:0;

	li{
		border-bottom:1px solid $grey-6;

		a{
			display: block;
			padding:$space-xs $space-sm;
		}

		&.active a{
			background-color:$green-7;
			color:#fff;
		}
	}
	
}