#content ul.filter{
	border-top:1px solid $grey-6;
	list-style: none;
	margin-left:0;

	li{
		border-bottom:1px solid $grey-6;
		color:$link-color;
		cursor:pointer;
		padding:$space-xs $space-sm;
		transition:color $transition-lg;

		&:hover{
			color:$link-color-hover;
		}


		&.active,
		&:active,
		&:focus{
			background-color:$green-7;
			color:$white;
		}
	}
	
}