/*
//// NOTES

- Not reviewed.
- Vertically center.
- Use SASS variables.

*/
.loader{
	margin:-50px 0 0;
	position:absolute;
	text-align:center;
	top:50%;
	width:100%;
	z-index: 500;

	@media (min-width: $screen-md){
		padding-left:$col3;
	}
	@media (min-width: $screen-lg){
		padding-left:$col2;
	}	
}

.mult2rect {
	height: 100px;
	width: 15px;
	display:inline-block;
}

.mult2rect1 {
	background-color: $loader-3;
	animation: mult2rect1 3s infinite linear;
}

@-webkit-keyframes mult2rect1 {
	0%, 10%, 70%, 80%, 100% {
		transform: scaleY(1);
	}
	5%, 75% {
		transform: scaleY(2);
	}
}
@keyframes mult2rect1 {
	0%, 10%, 70%, 80%, 100% {
		transform: scaleY(1);
	}
	5%, 75% {
		transform: scaleY(2);
	}
}
.mult2rect2 {
	background-color: $loader-4;
	animation: mult2rect2 3s infinite linear;
}
@-webkit-keyframes mult2rect2 {
	0%, 5%, 15%,  65%, 75%, 100% {
		transform: scaleY(1);
	}
	10%, 70% {
		transform: scaleY(2);
	}
	
}

@keyframes mult2rect2 {
	0%, 5%, 15%,  65%, 75%, 100% {
		transform: scaleY(1);
	}
	10%, 70% {
		transform: scaleY(2);
	}
}

.mult2rect3 {
	background-color: $loader-5;
	animation: mult2rect3 3s infinite linear;
}

@-webkit-keyframes mult2rect3 {
	0%, 10%, 20%, 60%, 70%, 100% {
		transform: scaleY(1);
	}
	15%, 65% {
		transform: scaleY(2);
	}
}

@keyframes mult2rect3 {
	0%, 10%, 20%, 60%, 70%, 100% {
		transform: scaleY(1);
	}
	15%, 65% {
		transform: scaleY(2);
	}
}

.mult2rect4 {
	background-color: $loader-6;
	animation: mult2rect4 3s infinite linear;
}

@-webkit-keyframes mult2rect4 {
	0%, 15%, 25%, 55%, 65%, 100% {
		transform: scaleY(1);
	}
	20%, 60% {
		transform: scaleY(2);
	}
}

@keyframes mult2rect4 {
	0%, 15%, 25%, 55%, 65%, 100% {
		transform: scaleY(1);
	}
	20%, 60% {
		transform: scaleY(2);
	}
}

.mult2rect5 {
	background-color: $loader-7;
	animation: mult2rect5 3s infinite linear;
}

@-webkit-keyframes mult2rect5 {
	0%, 20%, 30%, 50%, 60%, 100% {
		transform: scaleY(1);
	}
	25%, 55% {
		transform: scaleY(2);
	}
}

@keyframes mult2rect5 {
	0%, 20%, 30%, 50%, 60%, 100% {
		transform: scaleY(1);
	}
	25%, 55% {
		transform: scaleY(2);
	}
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 2s linear infinite;
}