.featured-work__item{
	background:$grey-6;
	margin:0 0 $space-sm;
	overflow: auto;

	.item-screenshot{
		margin:0 0 $space-sm;

		img{
			display: block;
			width:100%;
		}
	}

	.item-meta{
		display: table;

		.item-logo{
			display: table-cell;
			vertical-align: middle;
			width:$col12;

			.logo{
				display:block;
				height:auto;
				margin:0 auto;
				max-width:100%;
				padding:$space-lg $space-xxl;
				
			}
		}

		.item-title{
			display: none;
			line-height: $line-md;
			padding-left:$space-sm;
			vertical-align: middle;
			width:$col7;
		}
	}

}