#featured-work .inner{
	overflow: auto;
}

.featured-work__item{
	background:$brand-7;
	margin:0 0 $space-sm;
	transition:background $transition-md;

	&:hover{
		background:$brand-8;
	}

	@media (min-width: $screen-xs){
		float:left;
		width:49%;

		&:nth-child(2n + 1){
			float:right;
		}
	}
	@media (min-width: $screen-lg){
		float:none;
		width:100%;
	}

	.item-meta{
		display: table;
		width:100%;

		.item-logo{
			display: table-cell;
			vertical-align: middle;
			width:$col12;

			.logo{
				display:block;
				height:auto;
				margin:0 auto;
				max-width:100%;
				padding:$space-lg;
				
			}
		}
	}

}

#content .layout__secondary #featured-work h2{
	color:$grey-1;
}