<section *ngIf="work" id="work-detail" class="section">

	<h1>{{work.title}}</h1>
	<a href="{{work.url}}" target="_blank" class="view-site btn btn--lg">View Site</a>

	<section class="meta">
		<span>Launched: {{work.launched}}</span>
		<span *ngIf="work.company">Company: <a href="{{work.companyurl}}" target="_blank">{{work.company}}</a></span>
		<span *ngIf="work.client">Client: {{work.client}}</span>
	</section>

	<section id="screenshots" *ngIf="work.screenshots">
		<div class="carousel">
			<figure *ngFor="let screenshot of work.screenshots;" class="carousel__slide">
				<a href="{{screenshot.url}}" target="_blank">
					<img src="{{screenshot.file}}" />
					<figcaption [innerHTML]="screenshot.caption" class="copy"></figcaption>
				</a>
			</figure>			
		</div>
	</section>

	<section *ngIf="work.summary">
		<h2>Project Summary</h2>
		<article class="copy" [innerHTML]="work.summary"></article>
	</section>

	<section id="primary-skills" *ngIf="work.workskills">
		<h2>Skills Required</h2>
		<ul class="columns">
			<li *ngFor="let skill of work.workskills">{{skill.title}}</li>
		</ul>
	</section>

</section>